@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
    width: 100%;
    height: 100%;
    background:url(../images/living-room-2.jpg) center fixed;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    display:table;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.mt-100
{
    margin-top:100px;
}
